// Here you can add other styles

.card-title {
  font-weight: bold;
}

.dashboard-title {
  font-weight: bold;
  font-size: 140%;
}

.c-sidebar-nav-icon {
  object-fit: contain;
}

.c-sidebar-brand-full .app-name:hover {
  text-decoration: none;
}

.c-sidebar-brand-full .app-name {
  text-decoration: none;
  font-size: 100%;
  padding-left: 0.5em;
}
